.k-token-preview--aspect-ratio {
	height: var(--input-height);
}

.k-token-preview--aspect-ratio span {
	position: static;
	height: 100%;
	background: var(--color-gray-800);
	border-radius: var(--rounded);
	color: var(--color-gray-300);
	font-size: var(--text-xs);
	display: flex;
	align-items: center;
	justify-content: center;
	padding-inline: var(--spacing-2);
}
