.k-token-preview--icon {
	height: var(--input-height);
	aspect-ratio: 1;
	border: 1px solid var(--color-gray-300);
}

.k-token-preview--icon img {
	width: 100%;
	height: 100%;
	padding: var(--spacing-2);
}
